.task{
    height: 450px;
    width: 750px;
    border: 2px black(255, 255, 255, 0.288);
    background-color: white(255, 0, 0, 0.281);
    position: absolute;
  

}
 .task0{
    padding-top: 10%;
    padding-left: 10%;
    font-size: 20px; 
}
.fa{
    color: red;
    font-size: 15px;
}
.t1{
    font-size: 50px;

  
}
.t2{
    font-family: 'Courier New', Courier, monospace;
    
    font-size: 40px;
  
}
.task1:hover{
    transform:translate(2px, 2px);
}

  
    
 


.task1{
    height: 200px;
    width: 120px;
    border: 2px solid rgba(255, 60, 0, 0.815);
    border-radius: 10px;
    background-color: white;
    display:inline-block;
    margin-top: 10%;
    margin-left: 10%;
    padding-top: 30px;
    padding-left: 20px;
    line-height: 30px;
    color: red;
   word-spacing: 5px;
   box-shadow: 5px 5px 10px gray;
  
   
}
.contaner{
    height: 450px;
    width: 700px;
    background-color:white(37, 34, 34, 0.199);
    border: 2px solid black(255, 255, 255, 0.288);
    
}
.c{
    height: 200px;
    width: 200px;
    border: 2px solid rgba(255, 60, 0, 0.815);
    border-radius: 10px;
    background-color: white;
    margin-top: 4%;
    margin-left: 30%;
    padding-top: 20px;
    padding-left: 80px;
    line-height: 30px;
    color: red;
   word-spacing: 5px;
   box-shadow: 5px 5px 10px gray;
   
 }
 .c1{ 
    margin-top:30% ;
    margin-left: 30%;

 }
 img{
     height: 100px;
     width: 700px;
     margin-top: 7%;
 }
 .fas{
     margin-left: 20px;
     color: red;
     margin-top: 3%;

    }
     .back{
         left: 0px;
         bottom: 0px;
         margin-top: 30%;
         margin-left: 90%;

 }
 .pravin{
     height: 450px;
    width: 700px;
    border: 2px solid black(255, 255, 255, 0.288);
    position: absolute;

 }
 
 .n{
     height: 200px;
     width: 300px;
     border: 2px solid red;
     border-radius: 10px;
     margin-bottom: 100px;
     position: absolute;
     bottom: 10%;
     margin-left: 30%;
     text-align: center;
     line-height: 80px;
     color: red;
     font-weight: bold;
     font-size: 25px;
     background-color: white;


  

 }
 #n1{
     height: 30px;
     width: 200px;
     border: 1px solid red;
     margin-left: 50px;
 
    
 }

 button{
     border-radius: 50px;
     border: 1px red;
     height: 30px;
     width: 80px;
     background-color: rgba(255, 0, 0, 0.671);
 }
 
 .taskm{
     filter: blur(6px);

 }
 